# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/


# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel
/logs/
logs

# typescript
*.tsbuildinfo
next-env.d.ts

/logs/
/logs/exceptions/*


src/prisma/generated/prisma/browser.ts
src/prisma/generated/prisma/client.ts
src/prisma/generated/prisma/commonInputTypes.ts
src/prisma/generated/prisma/enums.ts
src/prisma/generated/prisma/models.ts
src/prisma/generated/prisma/internal/class.ts
src/prisma/generated/prisma/internal/prismaNamespace.ts
src/prisma/generated/prisma/internal/prismaNamespaceBrowser.ts
src/prisma/generated/prisma/models/article_categories.ts
src/prisma/generated/prisma/models/comment_likes.ts
src/prisma/generated/prisma/models/comments.ts
src/prisma/generated/prisma/models/files_info.ts
src/prisma/generated/prisma/models/note_tags.ts
src/prisma/generated/prisma/models/notes.ts
src/prisma/generated/prisma/models/Permissions.ts
src/prisma/generated/prisma/models/RolePermissions.ts
src/prisma/generated/prisma/models/Roles.ts
src/prisma/generated/prisma/models/sessions.ts
src/prisma/generated/prisma/models/tags.ts
src/prisma/generated/prisma/models/user_comments.ts
src/prisma/generated/prisma/models/user_info.ts
src/prisma/generated/prisma/models/UserRoles.ts
